@font-face {
    font-family: 'Byekan';
    src: url(../fonts/BYekan-webfont.eot) format('eot'),
    url(../fonts/BYekan-webfont.woff) format('woff'),
        url(../fonts/BYekan-webfont.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
}

*{
    font-family: 'Byekan';
    direction: rtl;
    text-align: right;
}
nav .sidenav-trigger {

    float: right;
    
}

nav .brand-logo{
    width: 80px;
}

nav .brand-logo img{
    width: 100%;
    top: 0.5rem;
}

#mobile-demo{
    background: linear-gradient(#5f440e96,#491a0dad),
    url(../img/bulding2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobile-demo li{
    width: 100%;
}

#mobile-demo li a{
    text-align: center;
    color: white;
}
.navbar-ui{
    display: flex;
}

.item_content{
    width: 100%;
    height: 100%;
}
.tabs-content.carousel.carousel-slider{
    height: calc(100vh - 64px) !important;
    /*100vh yani kole safhle va 64px size navbar ast ...intori dg scroll nmikhore*/
    width: 100% ;

}
.fixed-action-btn{
    right: unset !important;
}

.floating-quick-access{
    position: relative;   /*yani nesbat b hamin jaii k hast */
    right: 5px;
    bottom: -15px ;
}

.menu-links-desktop::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #ffa000 ;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scalex(0);
    transition: all 200ms ease;
}
.menu-links-desktop:hover::after{
    transform: scalex(1);
}
.menu-links-desktop.active::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #ffa000 ;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scalex(1);
}

.item_content{
    background: rgb(0,0,0);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(255,160,0,1) 0%, rgba(230,81,0,1) 100%);
}

.px_4{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.p_1{
    padding: 1rem !important;
}

.main-form{
    background: rgba(255, 234, 41, 0.671);
    border-radius: 1.5rem;
    padding: 1rem !important;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 5px black;
}

.main-form .row{
    margin-bottom: 1px !important;
}

.main-form input{
    font-family: 'Byekan';
    font-size: 0.9rem;
}

.main_talbe{
    background: rgba(255, 234, 41, 0.671);
    border-radius: 1.5rem;
    padding: 1rem !important;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 5px black;
    overflow: auto;
    max-height: calc(100vh - 1.1rem - 68px);
}
.main_talbe table.highlight > tbody > tr:hover{
    background-color: #e99300;
}
.main_talbe thead{
    background-color: rgba(230,81,0,1);
    color: white;
    border-radius: 0.6rem;
}
.main_talbe tr{
    padding: 0 !important;
}






@media(min-width:601px) {
    .px_md_5{
    padding-left: 5rem !important;
    padding-right: 5rem !important;
    }
}

@media(max-width:993px) {
    .main_talbe th , .main_talbe td {
        padding: 0.80rem 0.3rem !important;
    }
}


@media(min-width:992px){

    nav .brand-logo{
        right: unset !important;
        left: 0.5rem !important;
    }
}

/* scrool bars style  */
::-webkit-scrollbar{
    width: 5px !important;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

/* scrool bars style  */